// color
$main-color: #4597d3;
$alt-color: #7676b6;
$third-color: #e461a0;
$background-color: #f6f6f6;
$text-color: #000000;

// gutter
$gutter: 1rem;
$template-gutter: 1rem;

// font size
$h1: 1.5rem;
$h2: 1.2rem;
$tiny-title: 1rem;
$p: 0.8rem;

// font style
$font-light: 300;
$font-regular: 400;
$font-bold: 700;
