{% extends 'base.html.twig' %}

{% block title %}Template{% endblock %}

{% block body %}
    <h1>Ajouter un template</h1>

    {{ include('back/template/_form.html.twig') }}

    <a href="{{ path('template_browse') }}">back to list</a>

   
{% endblock %}
