@use '../../styles/vars';
@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Ubuntu:wght@500;700&display=swap');

//style sheet for dionysos template
.template__page {
  display: flex;
  min-height: 70rem;
  justify-content: center;
  align-items: center;
}

.template__page__cv {
  width: 49.6rem;
  height: 70rem;
  flex-wrap: wrap;
  position: relative;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: initial;
  padding-bottom: 2rem;
  color: white;
  background-color: #27221E;
  //personal data style rules
  &__personalDatas {
    position: relative;
    display: flex;
    flex-direction: column;
    //name size and position
    &__firstName, &__lastName {
      color: vars.$text-color;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: calc(vars.$h1 * 2.5);
      background-color: white;
    }
    &__firstName {
      width: 30%;
      position: absolute;
      padding-top: 330px;
      padding-bottom: 800.5px;
      padding-left: 60px;
    }
    &__lastName {
      width: 30%;
      position: absolute;
      top: 380px;
      padding-top: 10px;
      padding-left: 60px;
    }
    // picture size and position
    &__picture {
      width: 35%;
      display: flex;
      justify-content: center;
      position: absolute;
      padding-top: 50px;
      left: 10px;
      background-color: white;
      &__info {
        border-radius: 50%;
        height: 220px;
        width: 220px;
        object-fit: cover;
      }
    }
    &__title, &__content {
      display: flex;
      position: absolute;
      width: 25%;
      left: 330px;
    }
    &__title {
      top: 100px;
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      font-weight: 700;
    }
    &__content {
      top: 140px;
    }
    // contact information position
    &__contact {
      position: absolute;
      top: 450px;
      left: 60px;
      color: vars.$text-color;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column-reverse;
      width: 25%;
      border-top: 2px solid #F72C2C;
      padding-top: 30px;
    }
  }
  &__experience {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 330px;
    top: 320px;
    width: 53%;
    padding-top: 15px;
    border-top: 2px solid #F72C2C;
    &__title {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      font-weight: 700;
      padding-bottom: vars.$gutter;
    }
    &__header {
      padding-bottom: vars.$gutter;
      &__role {
        font-weight: 700;
        text-transform: uppercase;
      }
      &__city {
        float: left;
        margin-right: 3.2px;
        opacity: 0.8;
      }
      &__date {
        overflow: auto;
        clear: right;
        display: flex;
        opacity: 0.8;
        text-transform: capitalize;
        &__end {
          margin-left: calc(vars.$gutter / 4);
        }
      }
      &__content {
        overflow-wrap: break-word;
        &__info {
          list-style-position: inside;
          display:list-item;
        }
        &__info:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  &__educations {
    display: flex;
    position: absolute;
    flex-direction: column;
    left: 330px;
    top: 650px;
    width: 53%;
    padding-top: 15px;
    border-top: 2px solid #F72C2C;
    &__title {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      font-weight: 700;
      padding-bottom: vars.$gutter;
    }
    &__education {
      padding-bottom: vars.$gutter;
      &__certificate {
        font-weight: 700;
        text-transform: uppercase;
      }
      &__city {
        float: left;
        margin-right: 3.2px;
        opacity: 0.8;
      }
      &__school-name {
        font-style: italic;
      }
      &__date {
        overflow: auto;
        clear: right;
        display: flex;
        opacity: 0.8;
        text-transform: capitalize;
        &__end {
          margin-left: calc(vars.$gutter / 4);
        }
      }
      &__content {
        overflow-wrap: break-word;
        &__info {
          list-style-position: inside;
          display:list-item;
        }
        &__info:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  &__skills {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 570px;
    width: 25%;
    &__title {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      padding-bottom: 15px;
      font-weight: 700;
    }
    &__skill {
      &__title {
        display: none;
      }
      &__content {
        display:list-item;
      }
    }
  }
  &__language {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 53%;
    left: 330px;
    top: 1050px;
    border-top: 2px solid #F72C2C;
    &__title {
      text-transform: uppercase;
      font-weight: 700;
      font-size: calc(vars.$h2 / 1.2);
      letter-spacing: 3.2px;
      &__category {
        padding: vars.$gutter 0 calc(vars.$gutter / 4);
      }
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__header {
        display: flex;
        text-transform: capitalize;
        &__name {
          &__info {
            font-weight: 600;
          }
        }
        &__level {
          padding-left: calc(vars.$gutter / 4);
        }
      }
    }
  }
  &__activity {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: vars.$text-color;
    left: 60px;
    top: 810px;
    width: 25%;
    &__title {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      padding-bottom: 15px;
      font-weight: 700;
      padding-top: 15px;
      border-top: 2px solid #F72C2C;
    }
    &__header {
    padding-bottom: vars.$gutter;
      &__title {
        opacity: 0.8;
        text-transform: uppercase;
      }
      &__date {
        overflow: auto;
        clear: right;
        display: none;
        opacity: 0.8;
        text-transform: capitalize;
        &__end {
          margin-left: calc(vars.$gutter / 4);
        }
      }
      &__content {
        overflow-wrap: break-word;
        &__info {
          list-style-position: inside;
          display:list-item;
        }
        &__info:first-letter {
          text-transform: uppercase;
        }
      }
    }
  }
  &__socialNetwork {
    display: flex;
    position: absolute;
    flex-direction: column;
    color: vars.$text-color;
    left: 60px;
    top: 650px;
    width: 25%;
    &__category {
      font-family: 'Ubuntu', sans-serif;
      font-size: 25px;
      padding-bottom: 15px;
      font-weight: 700;
      padding-top: 15px;
      border-top: 2px solid #F72C2C;
    }
  }
}
